
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.movie {
    width: 300px;
    margin: 20px;
    background-color:aliceblue;
    border-radius: 5px;
}
.movie img {
    width: 100%;
    height: auto;
   
}
.movie-info {
    padding: 10px;
}
.rating {
    color: gold;
    font-size: 20px;
}

header {
    background-color: rgb(116, 6, 6);
    color: goldenrod;
    padding: 10px;
}
aside {
    display: flex;
    width: 300px;
    background-color: rgb(218, 215, 215);
    padding: 10px;
    border-radius: 20px;
}    
