.main-container{
    display: flex;
}
section {
    width: 300px;
    background-color: aliceblue;
    padding: 10px;
}    
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color:black
}
.movie {
    width: 300px;
    margin: 20px;
    background-color:aliceblue;
    border-radius: 5px;
}
.movie img {
    width: 100%;
}
.movie-info {
    padding: 10px;
}
.rating {
    color: gold;
    font-size: 20px;
}
header {
    background-color: rgb(116, 6, 6);
    color: goldenrod;
    padding: 10px;
}
nav{
    background-color:black;
    color: goldenrod;
    padding: 10px; 
}
header {
    background-color: black; 
    color: goldenrod; 
    /* padding: 20px; */
    text-align: center; Центрирование текста
}
header img {
    width: 100%; 
    max-height: 200px; 
}
.rec-container{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.rec-container div {
    flex-basis: 30%;
}
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: goldenrod;
}